@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  /* background: rgba(146, 146, 146, 0.266);
  outline: dotted 2px; */
}

html {
  font-family: "Manrope", sans-serif;
  background: hsl(218, 23%, 16%);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
